<md-card flex class="md-whiteframe-z1">
  <md-toolbar class="md-hue-1">
    <h2 class="md-toolbar-tools">
      <span>Add new Backend</span>
    </h2>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="login.userLogin()">
      <md-input-container>
        <label>Name</label>
        <input ng-model="backendsForm.data.name" type="text">
      </md-input-container>
      <md-input-container>
        <label>Host address</label>
        <input ng-model="backendsForm.data.host" type="text">
      </md-input-container>
      <md-input-container>
        <md-select ng-model="backendsForm.data.type" label="name" >
          <md-select-label style="min-width: 300px;">{{ backendsForm.data.type||"Select a DB type" }}</md-select-label>
          <md-option ng-value="opt.norm" ng-repeat="opt in backendsForm.types">{{ opt.name }}</md-option>
        </md-select>
      </md-input-container>
     <section layout="row" layout-sm="column" layout-align="end end">
      <md-button md-no-ink class="md-primary" ng-click="backendsForm.save()">Save</md-button>
      <md-button class="md-warn" ui-sref="in.backends.list">Cancel</md-button>
    </section>
    </form>
  </md-card-content>
</md-card>
