<md-list class="md-whiteframe-z1">
  <md-subheader class="md-no-sticky">Backends</md-subheader>
  <md-list-item ng-repeat="backend in backends.backends" >
    <p>
      <span ng-class="'icon-' + backends.icon(backend)" style="font-size:42px;">{{ backend.name }}</span>
      <em>{{ backend.host }}</em>
    </p>
    <md-icon md-font-library="material-icons" ng-click="backends.editBackend(backend)">edit</md-icon>
    <md-icon md-font-library="material-icons" ng-click="backends.deleteBackend(backend)">delete</md-icon>
  </md-list-item>
</md-list>

<div ui-view flex style="padding-top:50px;">
  <section layout="row" layout-align="end center">
    <md-button class="md-fab" aria-label="Create backend" ng-click="backends.goCreate()"><md-icon md-font-library="material-icons">add</md-icon></md-button>
</section>
</div>