// .login-card {
//   max-width: 300px;
//   margin: auto;
// }
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html {
  font-family: 'Droid Sans', sans-serif;
}

.md-br-button {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.no-op {
  padding: 0px;
}

.md-toast.error {
    background-color: red;
}

.md-toast.log {
    background-color: burlywood;
}