<md-card flex class="md-whiteframe-z1">
  <md-toolbar class="md-hue-1">
    <h2 class="md-toolbar-tools">
      <span>Login</span>
    </h2>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="login.userLogin()">
      <md-input-container flex>
          <label>Email</label>
          <input ng-model="login.email" type="email" required>
        </md-input-container>
      <md-input-container flex>
        <label>password</label>
        <input type="password" ng-model="login.password" required>
      </md-input-container>
      <section layout="col" layout-align="end center">
        <md-button class="md-primary">Login</md-button>
      </section>
    </form>
  </md-card-content>
</md-card>
<md-button ui-sref="in.signup" md-no-ink class="md-primary">Or create an account</md-button>
