<md-card flex>
  <md-toolbar class="md-accent">
    <h2 class="md-toolbar-tools">
      <span>Signup</span>
    </h2>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="signup.userSignup()">
      <md-input-container flex>
          <label>Email</label>
          <input ng-model="signup.email" type="email" required>
        </md-input-container>
      <md-input-container flex>
        <label>password</label>
        <input type="password" ng-model="signup.password" required>
      </md-input-container>
      <section layout="col" layout-align="end center">
        <md-button class="md-accent">Sign up</md-button>
      </section>
    </form>
  </md-card-content>
</md-card>
<md-button ui-sref="in.login" md-no-ink class="md-primary">Or go to Sign in</md-button>
