

<div ui-view flex style="padding-top:50px;">  
  <div ng-include="'modules/work/work.html'" ng-repeat="workitem in dashboard.works" ng-controller="WorkCtrl as work">
  </div>
  <section layout="row" layout-align="end center">
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-fab" ng-click="dashboard.getBackends($mdOpenMenu)">
        <md-icon md-menu-origin>add</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="backend in dashboard.backends">
          <md-button ng-click="dashboard.addWork(backend)">
            <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
            {{ backend.name }}
          </md-button>
        </md-menu-item>
    </md-menu>
  </section>
</div>