<md-card flex class="md-whiteframe-z1">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>New Work</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Remove" ng-click="dashboard.removeWork($index, work.item.id)">
          <md-icon md-font-library="material-icons">delete</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  
  
  
  <md-card-content>
    
    <div ng-show="work.item.config.measure && work.item.config.dimension">
      <div ng-show="false">
      <p>work.debug {{ work.item.config }}</p>
      <p>workitem {{ workitem }}</p>
      <p>Measure selected {{ work.item.config.measure ? work.item.config.measure : 'None' }}</p>
      <p>Dimension selected {{ work.item.config.dimension ? work.item.config.dimension : 'None' }}</p>
      
      <p>
      Query would be something like :
      select count({{work.item.config.dimension}}), {{work.item.config.dimension}} from {{work.item.config.measure}} group by {{work.item.config.dimension}} order by {{work.item.config.dimension}} ASC
      </p>
      </div>
      <nvd3 options='work.options' data='work.data'></nvd3>
    </div>
    
    <md-select ng-model="work.item.config.measure" style="min-width: 400px;">
      <md-select-label>{{ work.item.config.measure ? work.item.config.measure : 'Measure' }}</md-select-label>
      <md-option ng-value="key" ng-repeat="(key, data) in work.schema">{{key}}</md-option>
    </md-select>
    
    <md-select ng-model="work.item.config.dimension" style="min-width: 400px;">
      <md-select-label>{{ work.item.config.dimension ? work.item.config.dimension.name : 'Dimension' }}</md-select-label>
      <md-option ng-value="column" ng-repeat="column in work.schema[work.item.config.measure]">{{column.name}} ({{column.type}})</md-option>
    </md-select>
    
    
  </md-card-content>
</md-card>
