<md-toolbar layout="row" layout-align="space-between center">
    <!--The left side-->
    <span>
        <md-button class="md-toolbar-tools" ui-sref="in.dashboard" ng-show="global.loggedin"> Mustache </md-button>
        <md-button class="md-toolbar-tools" ui-sref="in.login" ng-show="!global.loggedin"> Mustache </md-button>
    </span>
    <!--The right side-->
    <span ng-show="global.loggedin" layout="row" >
        <md-button aria-label="Backends" ui-sref="in.backends.list"> Backends </md-button>
        <md-button aria-label="Logout" ng-click="global.logout()"> Logout </md-button>
    </span>
</md-toolbar>
<md-content layout="column" layout-align="center" class="login-card" ui-view>
</md-content>


