<md-toolbar layout="row" layout-align="space-between center">
    <!--The left side-->
    <span> <h2 class="md-toolbar-tools" ui-sref="in.backends.list"> Mustache </h2></span>
</md-toolbar>
<md-content layout="column" layout-align="center" class="login-card" ui-view>
</md-content>


